<div class="form-horizontal" role="form">
    <%= form_for(@message) do |f| %>
        <% if @message.errors.present? %>
            <div class="alert alert-danger">
                <% alert %>
                <ul>
                    <% @message.errors.full_messages.each do |full_message| %>
                    <li>
                        <%= full_message %>
                    </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="form-group">
            <%= f.label :名前：, class: "col-sm-3 control-label" %>
            <div class="col-sm-7">
                <%= f.text_field :name , class: "form-control"%>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :内容：, class: "col-sm-3 control-label" %>
            <div class="col-sm-7">
                <%= f.text_field :body, class: "form-control"%>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :年齢：, class: "col-sm-3 control-label" %>
            <div class="col-sm-7">
                <%= f.text_field :age , class: "form-control"%>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-12">
                <%= f.submit class: "btn btn-sm btn-primary" %>
            </div>
        </div>
    <% end %>
</div>