<!-- <h1>Messages#index</h1> -->
<!-- <p>Find me in app/views/messages/index.html.erb</p> -->
<div class="panel panel-default">
    <div class="panel-heading">
     メッセージ一覧
    </div>

    <div class="panel-body">
        <% @messages.each do |message| %>
         <span class="label label-info"><%= message.name %></span>
            <%= message.body %>
            ( <%= message.age %>歳)
            [ <%= link_to "edit" , edit_message_path(message), class: "btn btn-xs btn-success" %>
             <%= link_to "destroy", message , method: :delete , data: { confirm:'削除してもよろしいですか？'}, class: "btn btn-xs btn-danger" %>
             ]
            <br>
        <% end %>
    </div>
</div>

<% #部分テンプレート読み込み %>
<%= render 'form' %>