<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
      <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Message Board</a>
      </div>
      <!-- navbar-header -->
    </div>
    <!-- container -->
  </nav>
  <div class="container">
    <% if notice %>
     <div class="alert alert-info">
       <%= notice %>
     </div>
    <% end %>
    
    <%= yield %>
  </div>
</body>
</html>
